:host {
  --breadcrumb-inactive-color: blue;
  --breadcrumb-active-color: lightgray;
  --breadcrumb-separator-color: black;
  --breadcrumb-separator-padding: 8px;
  --breadcrumb-text-margin: 4px;
  --breadcrumb-text-font-family: "Helvetica", sans-serif;
}
